#contact{
	background-color: white;
	padding: 50px 70px;
}
.contact-heading{
	font-family: 'montserrat alternates', sans-serif;
	margin-bottom: 40px;
	text-align: center;
}
.contact-list ul{
	list-style: none;
}